/***********************************************************************
Base styles
***********************************************************************/ 

html {
  box-sizing: border-box;
  line-height: $line-height;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $body-text-color;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: $line-height;
  font-weight: $font-weight-body;
  font-family: $font-family-primary;
  overflow-y: scroll;
  background: $body-background-color;

  // media query mixin, see /helpers/_mixins.scss
  // @include desktop {
  //   // background: $grey-dark;
  // }
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1);
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

/***********************************************************************
Lists
***********************************************************************/
ul {
  padding: 0;
  list-style-position: inside;
  ul{
    padding-left: 30px;
  }
}


/***********************************************************************
Colors
***********************************************************************/ 
.primary {
  background: $primary !important;
  color: $white !important;
}

.success {
  background: $success !important;
  color: $white !important;
}

.danger {
  background: $danger !important;
  color: $white !important;
}

.accent {
  background: $accent !important;
  color: $white !important;
}

.dark {
  background: $dark !important;
  color: $white !important;
}

.light {
  background: $light !important;
  color: $body-text-color !important;
}
