// **********************************************************************
// Images
// **********************************************************************

img,
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.comment-author img {
  width: inherit;
}

// **********************************************************************
// Icons
// **********************************************************************
svg#icon-search {
  width: 20px;

  path {
    fill: $white;
  }
}

// **********************************************************************
// captions
// **********************************************************************
.wp-caption {
  text-align: center;
}
.wp-caption-text {
  text-align: center;
}
.gallery-caption {
  text-align: center;
}
