// **********************************************************************
// Comments
// **********************************************************************

#comments {
  #respond {
    padding-bottom: 20px;
  }

  ol.comment-list {
    list-style: none;
    padding-left: 0;

    li {
      border: 1px solid $grey;
      margin-bottom: 20px;
      padding-bottom: 30px;
      padding: 20px;
    }

    ol.children {
      list-style: none;
      padding-left: 10px;

      li {
        border: none;
        margin-top: 20px;
      }
    }
  }

  .comment-author img {
    border-radius: 50%;
  }

  span.says {
    display: none;
  }

  .comment-author.vcard {
    position: relative;
  }

  b.fn {
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    position: absolute;
    left: 62px;
    top: 8px;
  }

  .comment-metadata {
    margin-top: -30px;
    margin-left: 60px;
    font-size: 12px;

    a {
      color: $color1;
    }
  }

  .reply a {
    color: $color1;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid $color1;
    padding: 5px 10px;
    text-transform: lowercase;

    &:hover {
      background: $color1;
      color: $white;
    }
  }

  // highlights authors responses
  .bypostauthor,
  li ul.children li.bypostauthor {
    footer.comment-meta {
      b.fn {
        background: $color1;
        color: $white;
        padding: 0 5px;
        border-radius: 4px;
        margin-top: -3px;
      }
    }
  }

  p.comment-awaiting-moderation {
    padding: 10px 20px;
    background: $primary;
    color: $white;
  }
}
