// **********************************************************************
// Header
// **********************************************************************

#header {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: $grey-light;

  h1.site-title {
    margin-bottom: -10px;
    margin-top: 10px;
  }
}
