// **********************************************************************
// Posts
// **********************************************************************

.sticky {
  border: 1px solid $grey-dark;
  padding: 30px;
  margin-bottom: 60px;

  h1 {
    margin-top: 0;
  }
}

.post-meta {
  text-align: center;
  font-size: 14px;
  margin-bottom: 0.5rem;

  @include desktop {
    text-align: left;
  }
}

.post-content {
  .read-more-link {
    font-size: 14px;
    display: flex;
    justify-content: center;

    @include desktop {
      display: block;
    }

    a {
      font-size: 14px;
      color: $grey-dark;
      text-transform: lowercase;
      border: 1px solid $grey-dark;
      padding: 6px 12px;

      @include desktop {
        padding: 10px 12px;
      }

      &:hover {
        background: $grey-dark;
        color: $white;
      }
    }
  }
}

article {
  padding-bottom: 20px;
}

// **********************************************************************
// Pagination
// **********************************************************************

.site-pagination {
  display: table;
  margin: 0 auto;
}

.site-pagination > * {
  padding: 5px;
}
