// **********************************************************************
// Search
// **********************************************************************

.search {
  .search-no-results {
    text-align: center;

    @include desktop {
      text-align: left;
    }
  }

  h1.search-title {
    padding-bottom: 20px;
  }

  article {
    h1 {
      font-size: 24px;
    }
  }
}

form#searchform {
  button {
    padding: 0px 15px;
    border-radius: 0 4px 4px 0;
    img {
      width: 24px;
    }
  }

  input.search-field {
    margin-right: -3px;
  }
}
